.headbar{
    background-color: rgb(165, 132, 50);
    top:0px;
    left:0px;
    width:100%;
    height:100px;
    position:absolute;
    display: flex;
    font-size: 40px;
    justify-content: center;
}

.headbar h1{

    font-size: 50px;
}

.headbar a{
    position: absolute;
    right: 70px;
    padding-top: 40px;
}

#subheadbar{
    background-color: rgb(105, 105, 72); 
    top: 10px;
}



.contact{
    width: 200px;
    height: 100px;
    position: absolute;
    right:0px;
    top:0px;
    margin: auto;
}




.navbar{
    background-color: goldenrod;
    left: 0px;
    top: 0px;
    max-width: 200px;
    height: 100%;
    position: absolute;
}

.header{
    height:100px;
}

.header h1{
    position: absolute;
    padding-left: 20%;
    font-size: 50px;
}



.textbox{
    background-color: white;
    top: 150px;
    left: 300px;
    right: 50px;
    bottom:50px;
    position: absolute;
    opacity: 70%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
}





.link{

    margin-top: 100px;
    padding: 5px;
    padding-left: 75px;
    text-align: center;
    font-size: 35px;
    position: relative;
    left: -40px;
    background-color: wheat;
    width: 200px;
    border-radius: 100px;
}

.link a{
    margin:auto;
    padding-bottom:20px;
    text-decoration: none;
}

.link a:active{
    color:rgb(18, 18, 88);
}

.link a:hover{
    color:midnightblue;
}

.link a:visited{
    color:rgb(128, 0, 128);
}
